$minibar-height: 36px;
$fa-font-path: "../be_style/webfonts";
$fa-css-prefix: "rex-minibar-icon--fa";

@import '../../be_style/plugins/redaxo/scss/variables';
// @import '../../be_style/plugins/redaxo/scss/variables-dark'; // TODO: import in future minibar versions!
@import "../../be_style/vendor/font-awesome/scss/fontawesome";
@import "../../be_style/vendor/font-awesome/scss/solid";

@import "minibar";
